{
  "openapi": "3.0.1",
  "info": {
    "title": "FINBOURNE Workflow API",
    "termsOfService": "https://www.finbourne.com/legal/terms-conditions",
    "contact": {
      "name": "FINBOURNE Technology",
      "url": "https://www.finbourne.com",
      "email": "info@finbourne.com"
    },
    "version": "0.1.349",
    "x-logo": {
      "url": "https://www.lusid.com/app/assets/logo_white.png",
      "backgroundColor": "#415464"
    }
  },
  "servers": [
    {
      "url": "https://www.lusid.com/workflow"
    }
  ],
  "paths": {
    "/api/taskdefinitions": {
      "post": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] CreateTaskDefinition: Create a new Task Definition",
        "operationId": "CreateTaskDefinition",
        "requestBody": {
          "description": "The data to create a Task Definition",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskDefinitionRequest"
              },
              "example": {"id":{"scope":"A1","code":"ZZZ"},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}]}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskDefinitionRequest"
              },
              "example": {"id":{"scope":"A1","code":"ZZZ"},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskDefinitionRequest"
              },
              "example": {"id":{"scope":"A1","code":"ZZZ"},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskDefinitionRequest"
              },
              "example": {"id":{"scope":"A1","code":"ZZZ"},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}]}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDefinition"
                },
                "example": {"id":{"scope":"A1","code":"ZZZ"},"version":{"asAtCreated":"2022-01-01T01:02:03.0000000+00:00","userIdCreated":"User-1","requestIdCreated":"RequestId-1","asAtModified":"2022-01-01T01:02:03.0000000+00:00","userIdModified":"User-1","requestIdModified":"RequestId-1","asAtVersionNumber":1},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "get": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] ListTaskDefinitions: List Task Definitions",
        "operationId": "ListTaskDefinitions",
        "parameters": [
          {
            "name": "asAt",
            "in": "query",
            "description": "The asAt datetime at which to list the Task Definitions. Defaults to return the latest version of each Task Definition if not specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "When paginating, limit the number of returned results to this many.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-nullable": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "The pagination token to use to continue listing task definitions from a previous call to list task definitions. This value is returned from the previous call. If a pagination token is provided the sortBy, filter, effectiveAt, and asAt fields must not have changed since the original request.",
            "schema": {
              "maxLength": 500,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\+/]*={0,3}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Task Definitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResourceListOfTaskDefinition"
                },
                "example": {"values":[{"id":{"scope":"A1","code":"ZZZ"},"version":{"asAtCreated":"2022-01-01T01:02:03.0000000+00:00","userIdCreated":"User-1","requestIdCreated":"RequestId-1","asAtModified":"2022-01-01T01:02:03.0000000+00:00","userIdModified":"User-1","requestIdModified":"RequestId-1","asAtVersionNumber":1},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}]}],"links":[]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No Task Definitions found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/taskdefinitions/{scope}/{code}": {
      "get": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] GetTaskDefinition: Get a Task Definition",
        "operationId": "GetTaskDefinition",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "The scope that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "The code that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "asAt",
            "in": "query",
            "description": "The asAt datetime at which to retrieve the Task Definition. Defaults to returning the latest version of the Task Definition if not specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDefinition"
                },
                "example": {"id":{"scope":"A1","code":"ZZZ"},"version":{"asAtCreated":"2022-01-01T01:02:03.0000000+00:00","userIdCreated":"User-1","requestIdCreated":"RequestId-1","asAtModified":"2022-01-01T01:02:03.0000000+00:00","userIdModified":"User-1","requestIdModified":"RequestId-1","asAtVersionNumber":1},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Task Definition not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "put": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] UpdateTaskDefinition: Update an existing Task Definition",
        "operationId": "UpdateTaskDefinition",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "The scope that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "The code that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The data to update a Task Definition",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskDefinitionRequest"
              },
              "example": {"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}]}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskDefinitionRequest"
              },
              "example": {"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskDefinitionRequest"
              },
              "example": {"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskDefinitionRequest"
              },
              "example": {"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}]}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDefinition"
                },
                "example": {"id":{"scope":"A1","code":"ZZZ"},"version":{"asAtCreated":"2022-01-01T01:02:03.0000000+00:00","userIdCreated":"User-1","requestIdCreated":"RequestId-1","asAtModified":"2022-01-01T01:02:03.0000000+00:00","userIdModified":"User-1","requestIdModified":"RequestId-1","asAtVersionNumber":1},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"actions":[{"name":"health-check","actionDetails":{"type":"RunWorker","workerId":{"scope":"Health","code":"HealthCheckWorker"},"workerAsAt":"2022-01-01T01:02:03.0000000+00:00","workerParameters":{},"workerStatusTriggers":{},"childTaskConfigurations":[{"taskDefinitionId":{"scope":"AAA","code":"BBB"},"initialTrigger":"test-trigger","childTaskFields":{"assignee":{"mapFrom":"foo","setTo":"bar"}}}]}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields['assignee'] exists AND fields['assignee'] NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields['resolutionDetail'] exists AND fields['resolutionDetail'] NOT eq ''","action":"health-check"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields['cancellationDetail'] exists AND fields['cancellationDetail'] NOT eq ''"}]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Task Definition not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "delete": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] DeleteTaskDefinition: Delete a Task Definition",
        "operationId": "DeleteTaskDefinition",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "The scope that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "The code that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Task Definition not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/taskdefinitions/{scope}/{code}/tasks": {
      "get": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] ListTasksForTaskDefinition: List Tasks for a Task Definition",
        "operationId": "ListTasksForTaskDefinition",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "The scope that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "The code that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "asAt",
            "in": "query",
            "description": "The asAt datetime at which to list the Tasks. Defaults to return the latest version of each Task if not specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListOfTask"
                }
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No tasks found for this Task Definition.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/tasks": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "[EXPERIMENTAL] CreateTask: Create a new Task",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "trigger",
            "in": "query",
            "description": "The name of the Trigger to invoke",
            "schema": {
              "maxLength": 1024,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request to create Task",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              },
              "example": {"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"correlationIds":["correlation-id"],"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee"},{"name":"resolutionDetail","value":""}]}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              },
              "example": {"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"correlationIds":["correlation-id"],"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee"},{"name":"resolutionDetail","value":""}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              },
              "example": {"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"correlationIds":["correlation-id"],"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee"},{"name":"resolutionDetail","value":""}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              },
              "example": {"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"correlationIds":["correlation-id"],"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee"},{"name":"resolutionDetail","value":""}]}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "example": {"id":"4aa4b4e1-866a-493e-8d33-51f9e47a0843","correlationIds":["correlation-id"],"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"state":"foo","terminalState":false,"asAtLastTransition":"2022-01-01T01:02:03.0000000+00:00"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "[EXPERIMENTAL] ListTasks: List Tasks",
        "operationId": "ListTasks",
        "parameters": [
          {
            "name": "asAt",
            "in": "query",
            "description": "The asAt datetime at which to list the Tasks. Defaults to return the latest version of each Task if not specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "When paginating, limit the number of returned results to this many.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-nullable": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "The pagination token to use to continue listing tasks from a previous call to list tasks. This value is returned from the previous call. If a pagination token is provided the sortBy, filter, effectiveAt, and asAt fields must not have changed since the original request.",
            "schema": {
              "maxLength": 500,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\+/]*={0,3}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResourceListOfTask"
                }
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No Tasks found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "[EXPERIMENTAL] GetTask: Get a Task",
        "operationId": "GetTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the Task to retrieve",
            "required": true,
            "schema": {
              "maxLength": 40,
              "minLength": 30,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "type": "string"
            }
          },
          {
            "name": "asAt",
            "in": "query",
            "description": "The asAt datetime at which to retrieve the Task. Defaults to returning the latest version of the Task if not specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "example": {"id":"4aa4b4e1-866a-493e-8d33-51f9e47a0843","correlationIds":["correlation-id"],"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"state":"foo","terminalState":false,"asAtLastTransition":"2022-01-01T01:02:03.0000000+00:00"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Task not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "[EXPERIMENTAL] UpdateTask: Update a Task",
        "operationId": "UpdateTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the Task to act upon",
            "required": true,
            "schema": {
              "maxLength": 40,
              "minLength": 30,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "type": "string"
            }
          },
          {
            "name": "trigger",
            "in": "query",
            "description": "",
            "schema": {
              "maxLength": 1024,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              },
              "example": {"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee","value":"bob"},{"name":"resolutionDetail","value":""}]}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              },
              "example": {"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee","value":"bob"},{"name":"resolutionDetail","value":""}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              },
              "example": {"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee","value":"bob"},{"name":"resolutionDetail","value":""}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              },
              "example": {"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee","value":"bob"},{"name":"resolutionDetail","value":""}]}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "example": {"id":"4aa4b4e1-866a-493e-8d33-51f9e47a0843","correlationIds":["correlation-id"],"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"state":"foo","terminalState":false,"asAtLastTransition":"2022-01-01T01:02:03.0000000+00:00"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Task not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "[EXPERIMENTAL] DeleteTask: Delete a Task",
        "operationId": "DeleteTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier for the Task to be deleted.",
            "required": true,
            "schema": {
              "maxLength": 40,
              "minLength": 30,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Task not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/workers": {
      "post": {
        "tags": [
          "Workers"
        ],
        "summary": "[EXPERIMENTAL] CreateWorker: Create a new Worker",
        "description": "If the Worker already exists a failure will be returned",
        "operationId": "CreateWorker",
        "requestBody": {
          "description": "Worker to be created",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkerRequest"
              },
              "example": {"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"type":"HealthCheck","url":"http://localhost.lusid.com:8282"}}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkerRequest"
              },
              "example": {"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"type":"HealthCheck","url":"http://localhost.lusid.com:8282"}}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkerRequest"
              },
              "example": {"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"type":"HealthCheck","url":"http://localhost.lusid.com:8282"}}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkerRequest"
              },
              "example": {"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"type":"HealthCheck","url":"http://localhost.lusid.com:8282"}}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"Type":"HealthCheck","Url":"http://localhost.lusid.com:8282/health"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","requestIdCreated":"RequestId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","requestIdModified":"RequestId123","asAtVersionNumber":1},"parameters":[],"resultFields":[]}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"Type":"HealthCheck","Url":"http://localhost.lusid.com:8282/health"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","requestIdCreated":"RequestId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","requestIdModified":"RequestId123","asAtVersionNumber":1},"parameters":[],"resultFields":[]}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"Type":"HealthCheck","Url":"http://localhost.lusid.com:8282/health"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","requestIdCreated":"RequestId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","requestIdModified":"RequestId123","asAtVersionNumber":1},"parameters":[],"resultFields":[]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "get": {
        "tags": [
          "Workers"
        ],
        "summary": "[EXPERIMENTAL] ListWorkers: List Workers",
        "operationId": "ListWorkers",
        "parameters": [
          {
            "name": "asAt",
            "in": "query",
            "description": "The asAt datetime at which to list the Workers. Defaults to return the latest version of each Worker if not specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "When paginating, limit the number of returned results to this many.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-nullable": true
          },
          {
            "name": "page",
            "in": "query",
            "description": "The pagination token to use to continue listing workers from a previous call to list workers. This value is returned from the previous call. If a pagination token is provided the sortBy, filter, effectiveAt, and asAt fields must not have changed since the original request.",
            "schema": {
              "maxLength": 500,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\+/]*={0,3}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResourceListOfWorker"
                },
                "example": {"values":[{"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"Type":"HealthCheck","Url":"http://localhost.lusid.com:8282/health"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","requestIdCreated":"RequestId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","requestIdModified":"RequestId123","asAtVersionNumber":1},"parameters":[],"resultFields":[]}],"links":[]}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResourceListOfWorker"
                },
                "example": {"values":[{"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"Type":"HealthCheck","Url":"http://localhost.lusid.com:8282/health"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","requestIdCreated":"RequestId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","requestIdModified":"RequestId123","asAtVersionNumber":1},"parameters":[],"resultFields":[]}],"links":[]}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResourceListOfWorker"
                },
                "example": {"values":[{"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"Type":"HealthCheck","Url":"http://localhost.lusid.com:8282/health"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","requestIdCreated":"RequestId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","requestIdModified":"RequestId123","asAtVersionNumber":1},"parameters":[],"resultFields":[]}],"links":[]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/workers/{scope}/{code}": {
      "get": {
        "tags": [
          "Workers"
        ],
        "summary": "[EXPERIMENTAL] GetWorker: Get a Worker",
        "description": "Will return a NotFound failure if the Worker does not exist",
        "operationId": "GetWorker",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "Scope of the worker",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "Code of the worker",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "asAt",
            "in": "query",
            "description": "The asAt datetime at which to retrieve the Worker. Defaults to returning the latest version of the Worker if not specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"Type":"HealthCheck","Url":"http://localhost.lusid.com:8282/health"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","requestIdCreated":"RequestId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","requestIdModified":"RequestId123","asAtVersionNumber":1},"parameters":[],"resultFields":[]}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"Type":"HealthCheck","Url":"http://localhost.lusid.com:8282/health"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","requestIdCreated":"RequestId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","requestIdModified":"RequestId123","asAtVersionNumber":1},"parameters":[],"resultFields":[]}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Health","code":"HealthCheckWorker"},"displayName":"ASP.Net Health Check worker","description":"Calls /health to check a service is running","workerConfiguration":{"Type":"HealthCheck","Url":"http://localhost.lusid.com:8282/health"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","requestIdCreated":"RequestId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","requestIdModified":"RequestId123","asAtVersionNumber":1},"parameters":[],"resultFields":[]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/workers/{scope}/{code}/$run": {
      "post": {
        "tags": [
          "Workers"
        ],
        "summary": "[EXPERIMENTAL] RunWorker: Run a Worker",
        "operationId": "RunWorker",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "Scope of the worker",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "Code of the worker",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "asAt",
            "in": "query",
            "description": "The asAt datetime at which to retrieve the Worker. Defaults to returning the latest version of the Worker if not specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RunWorkerRequest"
              },
              "example": {"parameters":[{"name":"test-parameter","value":true}]}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunWorkerRequest"
              },
              "example": {"parameters":[{"name":"test-parameter","value":true}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RunWorkerRequest"
              },
              "example": {"parameters":[{"name":"test-parameter","value":true}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RunWorkerRequest"
              },
              "example": {"parameters":[{"name":"test-parameter","value":true}]}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RunWorkerResponse"
                },
                "example": {"results":[]}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunWorkerResponse"
                },
                "example": {"results":[]}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunWorkerResponse"
                },
                "example": {"results":[]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    }
  },
  "components": {
    "schemas": {
      "ActionDefinition": {
        "required": [
          "actionDetails",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 1024,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9\\-_]+$",
            "type": "string",
            "description": "The Name of this Action"
          },
          "actionDetails": {
            "$ref": "#/components/schemas/ActionDetails"
          }
        },
        "additionalProperties": false,
        "description": "Defines the Actions for a Task"
      },
      "ActionDetails": {
        "required": [
          "type"
        ],
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CreateChildTasksAction"
          },
          {
            "$ref": "#/components/schemas/RunWorkerAction"
          },
          {
            "$ref": "#/components/schemas/TriggerParentTaskAction"
          }
        ],
        "properties": {
          "type": {
            "minLength": 1,
            "type": "string",
            "description": "Type name for this Action"
          }
        },
        "additionalProperties": false,
        "description": "Abstracts the kinds of Actions available"
      },
      "CreateChildTasksAction": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "minLength": 1,
            "enum": [
              "CreateChildTasks"
            ],
            "type": "string",
            "description": "Type name for this Action"
          },
          "childTaskConfigurations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultantChildTaskConfiguration"
            },
            "description": "The Child Task Configurations",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines a Worker Action"
      },
      "CreateTaskDefinitionRequest": {
        "required": [
          "displayName",
          "id",
          "initialState",
          "states"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "displayName": {
            "minLength": 1,
            "type": "string",
            "description": "Human readable name"
          },
          "description": {
            "type": "string",
            "description": "Human readable description",
            "nullable": true
          },
          "states": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskStateDefinition"
            },
            "description": "The states this Task Definition operates over"
          },
          "fieldSchema": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskFieldDefinition"
            },
            "description": "Defines the fields associated with this Task",
            "nullable": true
          },
          "initialState": {
            "$ref": "#/components/schemas/InitialState"
          },
          "triggers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransitionTriggerDefinition"
            },
            "description": "Triggers",
            "nullable": true
          },
          "transitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskTransitionDefinition"
            },
            "description": "Transitions",
            "nullable": true
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionDefinition"
            },
            "description": "Actions",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Contains required info to create a new Task Definition"
      },
      "CreateTaskRequest": {
        "required": [
          "taskDefinitionId"
        ],
        "type": "object",
        "properties": {
          "taskDefinitionId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "correlationIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A set of guid identifiers that allow correlation across the application tier",
            "nullable": true
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskInstanceField"
            },
            "description": "Fields and their initial values - should correspond with the Task Definition field schema",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Contains required info to create a new Task"
      },
      "CreateWorkerRequest": {
        "required": [
          "displayName",
          "id",
          "workerConfiguration"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "displayName": {
            "maxLength": 512,
            "minLength": 1,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "Human readable name"
          },
          "description": {
            "maxLength": 1024,
            "minLength": 0,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "Human readable description",
            "nullable": true
          },
          "workerConfiguration": {
            "$ref": "#/components/schemas/WorkerConfiguration"
          }
        },
        "additionalProperties": false,
        "description": "Request to Create a new worker"
      },
      "DeletedEntityResponse": {
        "required": [
          "asAt"
        ],
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "description": "The Uri related to this Entity",
            "format": "uri",
            "nullable": true
          },
          "effectiveFrom": {
            "type": "string",
            "description": "The EffectiveFrom for this response",
            "format": "date-time",
            "nullable": true
          },
          "asAt": {
            "type": "string",
            "description": "The AsAt for this response",
            "format": "date-time"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FieldMapping": {
        "type": "object",
        "properties": {
          "mapFrom": {
            "maxLength": 1024,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9\\-_]+$",
            "type": "string",
            "description": "The field to map from",
            "nullable": true
          },
          "setTo": {
            "maxLength": 1024,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9\\-_]+$",
            "type": "string",
            "description": "The (constant) value to set",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines a single Field map"
      },
      "HealthCheck": {
        "required": [
          "type",
          "url"
        ],
        "type": "object",
        "properties": {
          "type": {
            "minLength": 1,
            "enum": [
              "HealthCheck"
            ],
            "type": "string",
            "description": "The type of worker"
          },
          "url": {
            "maxLength": 2048,
            "minLength": 1,
            "type": "string",
            "description": "The URL to check, eg: https://www.google.com/",
            "format": "uri"
          }
        },
        "additionalProperties": false,
        "description": "Configuration for a Worker that performs a GET against a given Url."
      },
      "InitialState": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 1024,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9\\-_]+$",
            "type": "string",
            "description": "The Initial State of the Task"
          },
          "requiredFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required input Fields for the Initial State",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines the Initial State of the Task"
      },
      "Link": {
        "required": [
          "href",
          "method",
          "relation"
        ],
        "type": "object",
        "properties": {
          "relation": {
            "type": "string"
          },
          "href": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "method": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "LuminesceView": {
        "required": [
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "minLength": 1,
            "enum": [
              "LuminesceView"
            ],
            "type": "string",
            "description": "The type of worker"
          },
          "name": {
            "maxLength": 512,
            "minLength": 1,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "Name of the view in Luminesce"
          }
        },
        "additionalProperties": false,
        "description": "Configuration for a Worker that calls a Luminesce view"
      },
      "LusidProblemDetails": {
        "required": [
          "code",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LusidValidationProblemDetails": {
        "required": [
          "code",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PagedResourceListOfTask": {
        "required": [
          "values"
        ],
        "type": "object",
        "properties": {
          "nextPage": {
            "type": "string",
            "nullable": true
          },
          "previousPage": {
            "type": "string",
            "nullable": true
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "href": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PagedResourceListOfTaskDefinition": {
        "required": [
          "values"
        ],
        "type": "object",
        "properties": {
          "nextPage": {
            "type": "string",
            "nullable": true
          },
          "previousPage": {
            "type": "string",
            "nullable": true
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskDefinition"
            }
          },
          "href": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PagedResourceListOfWorker": {
        "required": [
          "values"
        ],
        "type": "object",
        "properties": {
          "nextPage": {
            "type": "string",
            "nullable": true
          },
          "previousPage": {
            "type": "string",
            "nullable": true
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Worker"
            }
          },
          "href": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Parameter": {
        "required": [
          "name",
          "required",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "minLength": 1,
            "type": "string",
            "description": "The type of this Parameter"
          },
          "name": {
            "minLength": 1,
            "type": "string",
            "description": "Name"
          },
          "displayName": {
            "type": "string",
            "description": "DisplayName",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          },
          "required": {
            "type": "boolean",
            "description": "Required or not"
          },
          "defaultValue": {
            "type": "string",
            "description": "DefaultValue",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines a Worker Parameter"
      },
      "ParameterValue": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 1024,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9\\-_]+$",
            "type": "string",
            "description": "Name"
          },
          "value": {
            "description": "Value which can be a String, Boolean, Decimal or DateTime (ISO 8601)",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines a Parameter Value"
      },
      "ResourceId": {
        "required": [
          "code",
          "scope"
        ],
        "type": "object",
        "properties": {
          "scope": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ResourceListOfTask": {
        "required": [
          "values"
        ],
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "href": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          },
          "nextPage": {
            "type": "string",
            "nullable": true
          },
          "previousPage": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ResultantChildTaskConfiguration": {
        "required": [
          "childTaskFields",
          "taskDefinitionId"
        ],
        "type": "object",
        "properties": {
          "resultMatchingPattern": {
            "$ref": "#/components/schemas/ResultMatchingPattern"
          },
          "taskDefinitionId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "taskDefinitionAsAt": {
            "type": "string",
            "description": "TaskDefinition AsAt timestamp",
            "format": "date-time",
            "nullable": true
          },
          "initialTrigger": {
            "maxLength": 1024,
            "pattern": "^[a-zA-Z0-9\\-_]+$",
            "type": "string",
            "description": "The Initial Trigger for automatic start",
            "nullable": true
          },
          "childTaskFields": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FieldMapping"
            },
            "description": "Field Mappings"
          }
        },
        "additionalProperties": false,
        "description": "Child Task Configuration"
      },
      "ResultField": {
        "required": [
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string",
            "description": "Name"
          },
          "type": {
            "minLength": 1,
            "type": "string",
            "description": "The type of this Parameter"
          },
          "displayName": {
            "type": "string",
            "description": "DisplayName",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines a Worker Result Field"
      },
      "ResultMatchingPattern": {
        "required": [
          "filter"
        ],
        "type": "object",
        "properties": {
          "filter": {
            "maxLength": 1024,
            "minLength": 1,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "Filter string"
          }
        },
        "additionalProperties": false,
        "description": "Standard Finbourne filter to match against Run Worker results"
      },
      "RunWorkerAction": {
        "required": [
          "type",
          "workerId"
        ],
        "type": "object",
        "properties": {
          "type": {
            "minLength": 1,
            "enum": [
              "RunWorker"
            ],
            "type": "string",
            "description": "Type name for this Action"
          },
          "workerId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "workerAsAt": {
            "type": "string",
            "description": "Worker AsAt",
            "format": "date-time",
            "nullable": true
          },
          "workerParameters": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FieldMapping"
            },
            "description": "Parameters for this Worker",
            "nullable": true
          },
          "workerStatusTriggers": {
            "$ref": "#/components/schemas/WorkerStatusTriggers"
          },
          "childTaskConfigurations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultantChildTaskConfiguration"
            },
            "description": "Tasks can be generated from run worker results; this is the configuration",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines an Worker Action"
      },
      "RunWorkerRequest": {
        "required": [
          "parameters"
        ],
        "type": "object",
        "properties": {
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParameterValue"
            },
            "description": "The Parameter and their values."
          }
        },
        "additionalProperties": false,
        "description": "Request to Create a new worker"
      },
      "RunWorkerResponse": {
        "required": [
          "results",
          "workerStatus"
        ],
        "type": "object",
        "properties": {
          "workerStatus": {
            "minLength": 1,
            "type": "string",
            "description": "The final status of the Worker"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": { }
            },
            "description": "Results"
          },
          "statusDetail": {
            "type": "string",
            "description": "Detail on the final status",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "The RunWorker response"
      },
      "Task": {
        "required": [
          "id",
          "state",
          "taskDefinitionId",
          "taskDefinitionVersion",
          "terminalState"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique id for this Task",
            "format": "uuid"
          },
          "correlationIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User-provided ID used to link entities and tasks",
            "nullable": true
          },
          "taskDefinitionId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "taskDefinitionVersion": {
            "$ref": "#/components/schemas/TaskDefinitionVersion"
          },
          "version": {
            "$ref": "#/components/schemas/VersionInfo"
          },
          "state": {
            "minLength": 1,
            "type": "string",
            "description": "Current State"
          },
          "terminalState": {
            "type": "boolean",
            "description": "True if no onward transitions are possible"
          },
          "asAtLastTransition": {
            "type": "string",
            "description": "Last Transition timestamp",
            "format": "date-time",
            "nullable": true
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskInstanceField"
            },
            "description": "Fields and their latest values - should correspond with the Task Definition field schema",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines a Task created based on a Task Definition"
      },
      "TaskDefinition": {
        "required": [
          "displayName",
          "id",
          "initialState",
          "states"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "version": {
            "$ref": "#/components/schemas/VersionInfo"
          },
          "displayName": {
            "minLength": 1,
            "type": "string",
            "description": "Human readable name"
          },
          "description": {
            "type": "string",
            "description": "Human readable description",
            "nullable": true
          },
          "states": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskStateDefinition"
            },
            "description": "The states this Task Definition operates over"
          },
          "fieldSchema": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskFieldDefinition"
            },
            "description": "The Fields that this Task Definition operates on",
            "nullable": true
[...]
