{
  "openapi": "3.0.1",
  "info": {
    "title": "FINBOURNE Workflow API",
    "termsOfService": "https://www.finbourne.com/legal/terms-conditions",
    "contact": {
      "name": "FINBOURNE Technology",
      "url": "https://www.finbourne.com",
      "email": "info@finbourne.com"
    },
    "version": "0.1.238",
    "x-logo": {
      "url": "https://www.lusid.com/app/assets/logo_white.png",
      "backgroundColor": "#415464"
    }
  },
  "servers": [
    {
      "url": "https://www.lusid.com/workflow"
    }
  ],
  "paths": {
    "/api/taskdefinitions": {
      "post": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] CreateTaskDefinition: Create a new Task Definition",
        "operationId": "CreateTaskDefinition",
        "requestBody": {
          "description": "The data to create a Task Definition",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskDefinitionRequest"
              },
              "example": {"id":{"scope":"A1","code":"ZZZ"},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields.assignee exists AND fields.assignee NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields.resolutionDetail exists AND fields.resolutionDetail NOT eq ''"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields.cancellationDetail exists AND fields.cancellationDetail NOT eq ''"}]}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskDefinitionRequest"
              },
              "example": {"id":{"scope":"A1","code":"ZZZ"},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields.assignee exists AND fields.assignee NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields.resolutionDetail exists AND fields.resolutionDetail NOT eq ''"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields.cancellationDetail exists AND fields.cancellationDetail NOT eq ''"}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskDefinitionRequest"
              },
              "example": {"id":{"scope":"A1","code":"ZZZ"},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields.assignee exists AND fields.assignee NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields.resolutionDetail exists AND fields.resolutionDetail NOT eq ''"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields.cancellationDetail exists AND fields.cancellationDetail NOT eq ''"}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskDefinitionRequest"
              },
              "example": {"id":{"scope":"A1","code":"ZZZ"},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields.assignee exists AND fields.assignee NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields.resolutionDetail exists AND fields.resolutionDetail NOT eq ''"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields.cancellationDetail exists AND fields.cancellationDetail NOT eq ''"}]}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDefinition"
                },
                "example": {"id":{"scope":"A1","code":"ZZZ"},"version":{"asAtCreated":"2022-01-01T01:02:03.0000000+00:00","userIdCreated":"User-1","asAtModified":"2022-01-01T01:02:03.0000000+00:00","userIdModified":"User-1","asAtVersionNumber":1},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields.assignee exists AND fields.assignee NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields.resolutionDetail exists AND fields.resolutionDetail NOT eq ''"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields.cancellationDetail exists AND fields.cancellationDetail NOT eq ''"}]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/taskdefinitions/{scope}": {
      "get": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] ListTaskDefinitions: List Task Definitions",
        "operationId": "ListTaskDefinitions",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string",
              "default": "default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Task Definitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListOfTaskDefinition"
                },
                "example": {"values":[{"id":{"scope":"A1","code":"ZZZ"},"version":{"asAtCreated":"2022-01-01T01:02:03.0000000+00:00","userIdCreated":"User-1","asAtModified":"2022-01-01T01:02:03.0000000+00:00","userIdModified":"User-1","asAtVersionNumber":1},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields.assignee exists AND fields.assignee NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields.resolutionDetail exists AND fields.resolutionDetail NOT eq ''"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields.cancellationDetail exists AND fields.cancellationDetail NOT eq ''"}]}],"href":"dummy://href","links":[]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No Task Definitions found in the requested scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/taskdefinitions/{scope}/{code}": {
      "get": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] GetTaskDefinition: Get a Task Definition",
        "operationId": "GetTaskDefinition",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "The scope that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "The code that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "asAt",
            "in": "query",
            "description": "AsAt time to retrieve stated Task Definition. Defaults to current time if not provided.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDefinition"
                },
                "example": {"id":{"scope":"A1","code":"ZZZ"},"version":{"asAtCreated":"2022-01-01T01:02:03.0000000+00:00","userIdCreated":"User-1","asAtModified":"2022-01-01T01:02:03.0000000+00:00","userIdModified":"User-1","asAtVersionNumber":1},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields.assignee exists AND fields.assignee NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields.resolutionDetail exists AND fields.resolutionDetail NOT eq ''"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields.cancellationDetail exists AND fields.cancellationDetail NOT eq ''"}]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No task definition exists in current scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "put": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] UpdateTaskDefinition: Update an existing Task Definition",
        "operationId": "UpdateTaskDefinition",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "The scope that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "The code that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The data to update a Task Definition",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskDefinitionRequest"
              },
              "example": {"displayName":"bar","description":"foo","fieldSchema":[{"name":"foo","type":"Boolean"}]}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskDefinitionRequest"
              },
              "example": {"displayName":"bar","description":"foo","fieldSchema":[{"name":"foo","type":"Boolean"}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskDefinitionRequest"
              },
              "example": {"displayName":"bar","description":"foo","fieldSchema":[{"name":"foo","type":"Boolean"}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskDefinitionRequest"
              },
              "example": {"displayName":"bar","description":"foo","fieldSchema":[{"name":"foo","type":"Boolean"}]}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDefinition"
                },
                "example": {"id":{"scope":"A1","code":"ZZZ"},"version":{"asAtCreated":"2022-01-01T01:02:03.0000000+00:00","userIdCreated":"User-1","asAtModified":"2022-01-01T01:02:03.0000000+00:00","userIdModified":"User-1","asAtVersionNumber":1},"displayName":"An example TaskDefinition","description":"Test","states":[{"name":"Submitted"},{"name":"InProgress"},{"name":"SendingSurvey"},{"name":"Done"},{"name":"SurveyNotSent"},{"name":"NotDone"}],"fieldSchema":[{"name":"clientId","type":"String"},{"name":"assignee","type":"String"},{"name":"resolutionDetail","type":"String"}],"initialState":{"name":"Submitted","requiredFields":["clientId"]},"triggers":[{"name":"start","trigger":{"type":"External"}},{"name":"cancel","trigger":{"type":"External"}},{"name":"resolve","trigger":{"type":"External"}},{"name":"timeout","trigger":{"type":"External"}},{"name":"success","trigger":{"type":"External"}},{"name":"failure","trigger":{"type":"External"}}],"transitions":[{"fromState":"Submitted","toState":"InProgress","trigger":"start","guard":"fields.assignee exists AND fields.assignee NOT eq ''"},{"fromState":"InProgress","toState":"SendingSurvey","trigger":"resolve","guard":"fields.resolutionDetail exists AND fields.resolutionDetail NOT eq ''"},{"fromState":"SendingSurvey","toState":"Done","trigger":"success"},{"fromState":"SendingSurvey","toState":"SurveyNotSent","trigger":"failure"},{"fromState":"SendingSurvey","toState":"NotDone","trigger":"timeout"},{"fromState":"InProgress","toState":"NotDone","trigger":"cancel","guard":"fields.cancellationDetail exists AND fields.cancellationDetail NOT eq ''"}]}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No task definition exists in current scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "delete": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] DeleteTaskDefinition: Delete a Task Definition",
        "operationId": "DeleteTaskDefinition",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "The scope that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "The code that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No task definition exists in current scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/taskdefinitions/{scope}/{code}/tasks": {
      "get": {
        "tags": [
          "Task Definitions"
        ],
        "summary": "[EXPERIMENTAL] ListTasksForTaskDefinition: List Tasks for a Task Definition",
        "operationId": "ListTasksForTaskDefinition",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "The scope that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "The code that identifies a Task Definition",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "asAt",
            "in": "query",
            "description": "AsAt time to retrieve stated Tasks. Defaults to current time if not provided",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceListOfTask"
                }
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No tasks found for this Task Definition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/tasks": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "[EXPERIMENTAL] CreateTask: Create a new Task",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "trigger",
            "in": "query",
            "description": "The name of the Trigger to invoke",
            "schema": {
              "maxLength": 1024,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request to create Task",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              },
              "example": {"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"correlationIds":["correlation-id"],"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee"},{"name":"resolutionDetail","value":""}]}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              },
              "example": {"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"correlationIds":["correlation-id"],"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee"},{"name":"resolutionDetail","value":""}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              },
              "example": {"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"correlationIds":["correlation-id"],"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee"},{"name":"resolutionDetail","value":""}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              },
              "example": {"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"correlationIds":["correlation-id"],"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee"},{"name":"resolutionDetail","value":""}]}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "example": {"id":"4aa4b4e1-866a-493e-8d33-51f9e47a0843","correlationIds":["correlation-id"],"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"state":"foo","terminalState":false,"asAtLastTransition":"2022-01-01T01:02:03.0000000+00:00"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "[EXPERIMENTAL] GetTask: Get a Task",
        "operationId": "GetTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the Task to retrieve",
            "required": true,
            "schema": {
              "maxLength": 40,
              "minLength": 30,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "type": "string"
            }
          },
          {
            "name": "asAt",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "example": {"id":"4aa4b4e1-866a-493e-8d33-51f9e47a0843","correlationIds":["correlation-id"],"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"state":"foo","terminalState":false,"asAtLastTransition":"2022-01-01T01:02:03.0000000+00:00"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No Task exists in current scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "put": {
        "tags": [
          "Tasks"
        ],
        "summary": "[EXPERIMENTAL] UpdateTask: Update a Task",
        "operationId": "UpdateTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the Task to act upon",
            "required": true,
            "schema": {
              "maxLength": 40,
              "minLength": 30,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "type": "string"
            }
          },
          {
            "name": "trigger",
            "in": "query",
            "description": "",
            "schema": {
              "maxLength": 1024,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              },
              "example": {"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee","value":"bob"},{"name":"resolutionDetail","value":""}]}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              },
              "example": {"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee","value":"bob"},{"name":"resolutionDetail","value":""}]}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              },
              "example": {"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee","value":"bob"},{"name":"resolutionDetail","value":""}]}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              },
              "example": {"fields":[{"name":"clientId","value":"zzz123"},{"name":"assignee","value":"bob"},{"name":"resolutionDetail","value":""}]}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "example": {"id":"4aa4b4e1-866a-493e-8d33-51f9e47a0843","correlationIds":["correlation-id"],"taskDefinitionId":{"scope":"A1","code":"ZZZ"},"state":"foo","terminalState":false,"asAtLastTransition":"2022-01-01T01:02:03.0000000+00:00"}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No Task exists in current scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "[EXPERIMENTAL] DeleteTask: Delete a Task",
        "operationId": "DeleteTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier for the Task to be deleted.",
            "required": true,
            "schema": {
              "maxLength": 40,
              "minLength": 30,
              "pattern": "^[a-zA-Z0-9\\-]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "No Task exists in current scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/workers": {
      "post": {
        "tags": [
          "Workers"
        ],
        "summary": "[EXPERIMENTAL] CreateWorker: Endpoint For Creating a Worker",
        "description": "If the Worker already exists a failure will be returned",
        "operationId": "CreateWorker",
        "requestBody": {
          "description": "Worker to be created",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkerRequest"
              },
              "example": {"id":{"scope":"Quotes","code":"QuoteExceptionWorker"},"displayName":"Quote data quality worker","description":"Find erroneous quotes after quotes inserted","workerConfiguration":{"viewName":"Views.QuoteExceptionProvider","type":"LuminesceView"}}
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkerRequest"
              },
              "example": {"id":{"scope":"Quotes","code":"QuoteExceptionWorker"},"displayName":"Quote data quality worker","description":"Find erroneous quotes after quotes inserted","workerConfiguration":{"viewName":"Views.QuoteExceptionProvider","type":"LuminesceView"}}
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkerRequest"
              },
              "example": {"id":{"scope":"Quotes","code":"QuoteExceptionWorker"},"displayName":"Quote data quality worker","description":"Find erroneous quotes after quotes inserted","workerConfiguration":{"viewName":"Views.QuoteExceptionProvider","type":"LuminesceView"}}
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkerRequest"
              },
              "example": {"id":{"scope":"Quotes","code":"QuoteExceptionWorker"},"displayName":"Quote data quality worker","description":"Find erroneous quotes after quotes inserted","workerConfiguration":{"viewName":"Views.QuoteExceptionProvider","type":"LuminesceView"}}
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Quotes","code":"QuoteExceptionWorker"},"displayName":"Quote data quality worker","description":"Find erroneous quotes after quotes inserted","workerConfiguration":{"viewName":"Views.QuoteExceptionProvider","type":"LuminesceView"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","asAtVersionNumber":1}}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Quotes","code":"QuoteExceptionWorker"},"displayName":"Quote data quality worker","description":"Find erroneous quotes after quotes inserted","workerConfiguration":{"viewName":"Views.QuoteExceptionProvider","type":"LuminesceView"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","asAtVersionNumber":1}}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Quotes","code":"QuoteExceptionWorker"},"displayName":"Quote data quality worker","description":"Find erroneous quotes after quotes inserted","workerConfiguration":{"viewName":"Views.QuoteExceptionProvider","type":"LuminesceView"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","asAtVersionNumber":1}}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    },
    "/api/workers/{scope}/{code}": {
      "get": {
        "tags": [
          "Workers"
        ],
        "summary": "[EXPERIMENTAL] GetWorker: Endpoint for Retrieving a Worker",
        "description": "Will return a NotFound failure if the Worker does not exist",
        "operationId": "GetWorker",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "description": "Scope of the worker",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "description": "Code of the worker",
            "required": true,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-zA-Z0-9\\-_]+$",
              "type": "string"
            }
          },
          {
            "name": "asAt",
            "in": "query",
            "description": "AsAt time of the worker",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Quotes","code":"QuoteExceptionWorker"},"displayName":"Quote data quality worker","description":"Find erroneous quotes after quotes inserted","workerConfiguration":{"viewName":"Views.QuoteExceptionProvider","type":"LuminesceView"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","asAtVersionNumber":1}}
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Quotes","code":"QuoteExceptionWorker"},"displayName":"Quote data quality worker","description":"Find erroneous quotes after quotes inserted","workerConfiguration":{"viewName":"Views.QuoteExceptionProvider","type":"LuminesceView"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","asAtVersionNumber":1}}
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Worker"
                },
                "example": {"id":{"scope":"Quotes","code":"QuoteExceptionWorker"},"displayName":"Quote data quality worker","description":"Find erroneous quotes after quotes inserted","workerConfiguration":{"viewName":"Views.QuoteExceptionProvider","type":"LuminesceView"},"version":{"asAtCreated":"2023-01-01T12:00:00.0000000+00:00","userIdCreated":"UserId123","asAtModified":"2023-01-01T12:00:00.0000000+00:00","userIdModified":"UserId123","asAtVersionNumber":1}}
              }
            }
          },
          "400": {
            "description": "The details of the input related failure",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LusidProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [ ]
          }
        ],
        "x-fbn-apistatus": "Experimental"
      }
    }
  },
  "components": {
    "schemas": {
      "CreateTaskDefinitionRequest": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "displayName": {
            "type": "string",
            "description": "Human readable name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Human readable description",
            "nullable": true
          },
          "states": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskStateDefinition"
            },
            "description": "The states this Task Definition operates over",
            "nullable": true
          },
          "fieldSchema": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskFieldDefinition"
            },
            "description": "Defines the fields associated with this Task",
            "nullable": true
          },
          "initialState": {
            "$ref": "#/components/schemas/InitialState"
          },
          "triggers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransitionTriggerDefinition"
            },
            "description": "Triggers",
            "nullable": true
          },
          "transitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskTransitionDefinition"
            },
            "description": "Transitions",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Contains required info to create a new Task Definition"
      },
      "CreateTaskRequest": {
        "required": [
          "taskDefinitionId"
        ],
        "type": "object",
        "properties": {
          "taskDefinitionId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "correlationIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A set of guid identifiers that allow correlation across the application tier",
            "nullable": true
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskInstanceField"
            },
            "description": "Fields and their initial values - should correspond with the Task Definition field schema",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Contains required info to create a new Task"
      },
      "CreateWorkerRequest": {
        "required": [
          "displayName",
          "id",
          "workerConfiguration"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "displayName": {
            "maxLength": 512,
            "minLength": 1,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "Human readable name"
          },
          "description": {
            "maxLength": 1024,
            "minLength": 0,
            "pattern": "^[\\s\\S]*$",
            "type": "string",
            "description": "Human readable description",
            "nullable": true
          },
          "workerConfiguration": {
            "$ref": "#/components/schemas/WorkerConfiguration"
          }
        },
        "additionalProperties": false,
        "description": "Request to Create a new worker"
      },
      "DeletedEntityResponse": {
        "required": [
          "asAt"
        ],
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "description": "The Uri related to this Entity",
            "format": "uri",
            "nullable": true
          },
          "effectiveFrom": {
            "type": "string",
            "description": "The EffectiveFrom for this response",
            "format": "date-time",
            "nullable": true
          },
          "asAt": {
            "type": "string",
            "description": "The AsAt for this response",
            "format": "date-time"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InitialState": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The Initial State of the Task",
            "nullable": true
          },
          "requiredFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required input Fields for the Initial State",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines the Initial State of the Task"
      },
      "Link": {
        "required": [
          "href",
          "method",
          "relation"
        ],
        "type": "object",
        "properties": {
          "relation": {
            "type": "string"
          },
          "href": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "method": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "LusidProblemDetails": {
        "required": [
          "code",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LusidValidationProblemDetails": {
        "required": [
          "code",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ResourceId": {
        "required": [
          "code",
          "scope"
        ],
        "type": "object",
        "properties": {
          "scope": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ResourceListOfTask": {
        "required": [
          "values"
        ],
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          },
          "href": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          },
          "nextPage": {
            "type": "string",
            "nullable": true
          },
          "previousPage": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ResourceListOfTaskDefinition": {
        "required": [
          "values"
        ],
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskDefinition"
            }
          },
          "href": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          },
          "nextPage": {
            "type": "string",
            "nullable": true
          },
          "previousPage": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Task": {
        "required": [
          "id",
          "state",
          "taskDefinitionId",
          "taskDefinitionVersion",
          "terminalState"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique id for this Task",
            "format": "uuid"
          },
          "correlationIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User-provided ID used to link entities and tasks",
            "nullable": true
          },
          "taskDefinitionId": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "taskDefinitionVersion": {
            "$ref": "#/components/schemas/TaskDefinitionVersion"
          },
          "version": {
            "$ref": "#/components/schemas/Version"
          },
          "state": {
            "minLength": 1,
            "type": "string",
            "description": "Current State"
          },
          "terminalState": {
            "type": "boolean",
            "description": "True if no onward transitions are possible"
          },
          "asAtLastTransition": {
            "type": "string",
            "description": "Last Transition timestamp",
            "format": "date-time",
            "nullable": true
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskInstanceField"
            },
            "description": "Fields and their latest values - should correspond with the Task Definition field schema",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines a Task created based on a Task Definition"
      },
      "TaskDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "version": {
            "$ref": "#/components/schemas/Version"
          },
          "displayName": {
            "type": "string",
            "description": "Human readable name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Human readable description",
            "nullable": true
          },
          "states": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskStateDefinition"
            },
            "description": "The states this Task Definition operates over",
            "nullable": true
          },
          "fieldSchema": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskFieldDefinition"
            },
            "description": "The Fields that this Task Definition operates on",
            "nullable": true
          },
          "initialState": {
            "$ref": "#/components/schemas/InitialState"
          },
          "triggers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransitionTriggerDefinition"
            },
            "description": "The Triggers for State transition",
            "nullable": true
          },
          "transitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskTransitionDefinition"
            },
            "description": "The Transitions between States",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "TaskDefinition"
      },
      "TaskDefinitionVersion": {
        "type": "object",
        "properties": {
          "asAtModified": {
            "type": "string",
            "description": "The asAt datetime of the Task Definition used by this Task",
            "format": "date-time"
          }
        },
        "additionalProperties": false,
        "description": "The version of the Task Definition used by this Task"
      },
      "TaskFieldDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of this Field"
          },
          "type": {
            "type": "string",
            "description": "The value type for the field. Available values are: \"String\", \"Decimal\", \"DateTime\", \"Boolean\")"
          }
        },
        "additionalProperties": false,
        "description": "Defines a Task Definition Field"
      },
      "TaskInstanceField": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of this Field"
          },
          "value": {
            "type": "string",
            "description": "The value of this Field",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines a Field on a Task"
      },
      "TaskStateDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The Name of this State",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A Task Definition/Task has a given set of States"
      },
      "TaskTransitionDefinition": {
        "type": "object",
        "properties": {
          "fromState": {
            "type": "string",
            "description": "The State this Transition if coming From",
            "nullable": true
          },
          "toState": {
            "type": "string",
            "description": "The State this Transition is going To",
            "nullable": true
          },
          "trigger": {
            "type": "string",
            "description": "The Trigger for this Transition",
            "nullable": true
          },
          "guard": {
            "type": "string",
            "description": "The Guard for this Transition, if any",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Defines a State change"
      },
      "TransitionTriggerDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The key/Name of this Trigger",
            "nullable": true
          },
          "trigger": {
            "$ref": "#/components/schemas/TriggerSchema"
          }
        },
        "additionalProperties": false,
        "description": "State changes happen in response to Triggers"
      },
      "TriggerSchema": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of Trigger",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Triggers can operate in response to different stimuli"
      },
      "UpdateTaskDefinitionRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Human readable name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Human readable description",
            "nullable": true
          },
          "states": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskStateDefinition"
            },
            "description": "The states this Task Definition operates over",
            "nullable": true
          },
          "fieldSchema": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskFieldDefinition"
            },
            "description": "Defines the fields associated with this Task",
            "nullable": true
          },
          "initialState": {
            "$ref": "#/components/schemas/InitialState"
          },
          "triggers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransitionTriggerDefinition"
            },
            "description": "Triggers",
            "nullable": true
          },
          "transitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskTransitionDefinition"
            },
            "description": "Transitions",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Contains required info to update a Task Definition"
      },
      "UpdateTaskRequest": {
        "type": "object",
        "properties": {
          "correlationIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A set of guid identifiers that allow correlation across the application tier",
            "nullable": true
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskInstanceField"
            },
            "description": "Defines the fields associated with the update",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A request to update a Task"
      },
      "Version": {
        "type": "object",
        "properties": {
          "asAtCreated": {
            "type": "string",
            "description": "The asAt datetime at which this entity was first created.",
            "format": "date-time",
            "nullable": true
          },
          "userIdCreated": {
            "type": "string",
            "description": "The unique id of the user who created this entity.",
            "nullable": true
          },
          "asAtModified": {
            "type": "string",
            "description": "The asAt datetime at which this entity was last updated.",
            "format": "date-time",
            "nullable": true
          },
          "userIdModified": {
            "type": "string",
            "description": "The unique id of the user who last updated this entity.",
            "nullable": true
          },
          "asAtVersionNumber": {
            "type": "integer",
            "description": "The integer version number for this entity (the entity was created at version 1).",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "The version metadata."
      },
      "Worker": {
        "required": [
          "displayName",
          "id",
          "workerConfiguration"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ResourceId"
          },
          "displayName": {
            "minLength": 1,
            "type": "string",
            "description": "Human readable name"
          },
          "description": {
            "type": "string",
            "description": "Human readable description",
            "nullable": true
          },
          "workerConfiguration": {
            "$ref": "#/components/schemas/WorkerConfiguration"
          },
          "version": {
            "$ref": "#/components/schemas/Version"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Information about the Worker"
      },
      "WorkerConfiguration": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "minLength": 1,
            "type": "string",
            "description": "The type of worker"
          }
        },
        "additionalProperties": false,
        "description": "Information about how the worker should be executed"
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth2 Implicit Grant",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://lusid.okta.com/oauth2/default/v1/authorize",
            "scopes": { }
          }
        }
      }
    }
  },
  "security": [
    { }
  ],
  "tags": [
    {
      "name": "Task Definitions",
      "description": "Workflow endpoint for managing Task Definitions"
    },
    {
      "name": "Tasks",
      "description": "Workflow endpoint for managing Tasks"
    },
    {
      "name": "Workers",
      "description": "Workflow endpoint for managing and running Workers"
    }
  ],
  "x-tagGroups": {
    "name": "API",
    "tags": [
      "Task Definitions",
      "Tasks",
      "Workers"
    ]
  }
}